p.addmag1 {
  margin-left: 68px;
  color: rgba(229, 229, 229, 1);
  font-size: 9px;
}
.addmag2 {
  margin-left: 68px;
  color: rgba(229, 229, 229, 1);
}

.addma_page {
  background-color: black;
}
p.labelmag1 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: 22px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}

p.labelmag2 {
  margin-left: 189px;
  font-size: 9px;
  font-weight: bold;
  color: rgba(229, 229, 229, 1);
  margin-top: 22px;
}

p.labelmag11 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: 22px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}

p.labelmag22 {
  margin-left: 68px;
  font-size: 9px;
  /* margin-top: 5px; */
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}

p.labelmag33 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: -7px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}
p.labelmag333 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: 6px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}
p.labelmag44 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: -12px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}
p.labelmag55 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: -12px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}
p.labelmag666 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: -12px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}
p.labelmag77 {
  margin-left: 68px;
  font-size: 9px;
  margin-top: -12px;
  color: rgba(229, 229, 229, 1);
  font-weight: bold;
}

p.labelmag3 {
}

.addmag {
  /* background-color: #141424; */
}

input#magone {
  margin-left: -28px;
  width: 215px;
}
input#magone1 {
  margin-left: -28px;
  width: 215px;
  margin-top: -5px;
}
input#magone2 {
  margin-left: -28px;
  width: 215px;
}
input#magone3 {
  margin-left: -28px;
  width: 215px;
}
input#magone4 {
  margin-left: -28px;
  width: 117px;
}
input#magone5 {
  margin-left: -28px;
  width: 215px;
}
input#magonee {
  margin-left: -129px;
  width: 215px;
  margin-top: 5px;
}
input#magoneee {
  margin-left: -129px;
  width: 215px;
  margin-top: -5px;
}

select#magtwo {
  margin-left: -50px;
  width: 95px;
}

p.labelmag3 {
  margin-left: 69px;
  margin-top: 7px;
  font-size: 9px;
  font-weight: bold;
  color: aliceblue;
}
p.labelmag4 {
  margin-left: 69px;
  margin-top: 7px;
  font-size: 9px;
  font-weight: bold;
  color: aliceblue;
}
p.labelmag5 {
  margin-left: 69px;
  margin-top: 7px;
  font-size: 9px;
  font-weight: bold;
  color: aliceblue;
}

input#mag3 {
  margin-left: -29px;
  width: 215px;
}
input#mag4 {
  margin-left: -29px;
  width: 215px;
}
input#mag5 {
  margin-left: -29px;
  width: 215px;
}

p.labelmag6 {
  margin-left: 190px;
  font-size: 9px;
  font-weight: bold;
  color: aliceblue;
  margin-top: 13px;
}

p.labelmag66 {
  margin-left: 90px;
  font-size: 9px;
  font-weight: bold;
  color: aliceblue;
  margin-top: 5px;
}
input#flexRadioDefault1 {
  margin-left: -28px;
  margin-top: 20px;
}
input#flexRadioDefault2 {
  margin-left: -28px;
  margin-top: -4px;
}
label.form-check-label {
  margin-left: 10px;
  font-size: 9px;

  margin-top: 21px;
}
label.form-check-label2 {
  margin-left: 10px;
  font-size: 9px;

  margin-top: 21px;
}

p.titlelate {
  margin-left: 68px;
  font-size: 13px;
  font-weight: bold;
  color: brown;
  margin-top: 24px;
}

p.labelmag77fot {
  font-size: 7px;
  font-weight: normal;
  margin-left: -28px;
}
