.titlelog {
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-left: 34px;
}

.login_page {
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141424;
}

label.form-label {
  width: 100%;
  display: block;
  color: #c8c8db;
  font-size: 13px;
}

form {
  margin-left: 57px;
}

.form-label {
  height: 40px;
  display: block;
  width: 100%;
  padding: 17px 4px;
}
.form-check-label {
  color: #c8c8db;
  font-size: 13px;
}
.form-select {
  height: 35px;
  width: 130px;
  color: #c8c8db;
  font-size: 13px;
  margin-left: auto;
  padding-top: 8px;
  background-color: #141424;
}
.select_page {
  background-color: #141424;
}

.form-control {
  height: 30px;
  display: block;
  width: 300px;
  padding: 6px 12px;
  background-color: #212132;
  border: #c8c8db;
}

button.submit-btn {
  height: 35px;
  width: 120px;
  background: #ff7506;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  margin-left: 120px;
  margin-top: 30px;
  border-radius: 6px;
}

.linkpagelog {
  color: #ff7506;
  font-size: 13px;
  padding: 131px;
  padding-top: 100px;
  margin-left: 58px;
  display: flex;
}

.vnimg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 4px;
}

.lgoimg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-left: 163px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

img.lgoimglogin {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-left: 163px;

  align-items: center;
  display: flex;
}

.forgot-pass {
  color: #ff7506;
  font-size: 13px;
}

.input-container {
  margin: 20px;
}

.custom-input {
  padding: 10px;
  border: 2px solid #212132;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.custom-input:focus,
.custom-input.focused {
  border-color: #0c4dff;
}

input#firt-name-login {
  width: 375px;
  height: 30px;
  background-color: #212132;
}

input#conform-password {
  width: 375px;
  height: 30px;
  background-color: #212132;
}

.error-message {
  color: #ff0000;
  font-size: 13px;
}
