.infor_page {
  background-color: #141424;
  color: #c8c8db;
  /* width: 1140px; */
}

.col-2s {
  background-color: #020220;
  width: 162px;
  height: 550px;
  border-radius: 10px;
}

img.logo {
  margin-left: 31px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 65px;
}
img.avar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-left: 20px;
}

svg.svg-inline--fa.fa-sliders {
  margin-left: 56px;
}

svg.svg-inline--fa.fa-list {
  margin-left: 56px;
}

svg.svg-inline--fa.fa-calendar-days {
  margin-left: 56px;
}

svg.svg-inline--fa.fa-file {
  margin-left: 56px;
}

svg.svg-inline--fa.fa-calendar-days {
  margin-left: 56px;
}

svg.svg-inline--fa.fa-dollar-sign {
  margin-left: 56px;
}

svg.svg-inline--fa.fa-gear {
  margin-left: 56px;
}
svg.svg-inline--fa.fa-circle-question {
  margin-left: 56px;
}
/* menumini */
svg.svg-inline--fa.fa-arrow-right-from-bracket {
  margin-left: 15px;
}

svg.svg-inline--fa.fa-lock {
  margin-left: 15px;
}

svg.svg-inline--fa.fa-pen-to-square {
  margin-left: 15px;
}

a.nav-link {
  text-align: center;
  font-size: 9px;
}

input#inputPassword5 {
  width: 177px;
}

input#exampleInputEmail1 {
  margin-bottom: -14px;
}

button.btn.btn-primary {
  margin-top: 36px;
  margin-left: 9px;
}

.col-5 {
  margin-left: -90px;
}

h5 {
  margin-left: 79px;
  margin-top: 10px;
}

button.btn.btn-primary.\32 {
  background-color: #ff7506;
  width: 90px;
  height: 28px;
  font-size: 10px;
  border: 1px solid #ff7506;
}

button.btn.btn-primary.\31 {
  width: 90px;
  height: 28px;
  font-size: 10px;
  color: #ff7506;
  background-color: #141424;
  border: 1px solid #ff7506;
}

.col-2.action {
  background-color: #2f2f41;
  width: 68px;
  height: 216px;
  margin-left: 66px;
  margin-top: 130px;
  border-radius: 10px;
}

/* manage */
.contract_page {
  background-color: #141424;
  color: #c8c8db;
}

img.logocontract {
  margin-left: 31px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 65px;
  margin-top: 33px;
}

p.mana1 {
  background-color: #ff7506;
  text-align: center;
  width: 126px;
  height: 21px;
  border-radius: 17px;
  font-size: 10px;
}

.col-2.mag {
  background-color: #2f2f41;
  width: 68px;
  height: 80px;
  margin-left: 66px;
  margin-top: 128px;
  border-radius: 10px;
}

svg.svg-inline--fa.fa-plus {
  margin-left: 10px;
  margin-top: 12px;
  background-color: rgb(108 108 136 / 70%);
  width: 22px;
  height: 22px;
  border-radius: 20px;
}

.select_contract {
  height: 35px;
  width: 130px;
  color: #c8c8db;
  font-size: 13px;
  margin-left: auto;
  background-color: #141424;

  margin-top: -125px;
}

p.paging1 {
  margin-left: 123px;
  font-size: 10px;
  margin-bottom: 2px;
}
.paging2 {
  margin-left: 123px;
  font-size: 25px;
}

p.tab1 {
  background-color: #ff7506;
  border-radius: 15px;
  text-align: center;
  font-size: 10px;
  width: 115px;
  height: 20px;
}

p.tab2 {
  border: 1px solid #ff7506;
  border-radius: 15px;
  text-align: center;
  font-size: 10px;
  width: 150px;
  height: 20px;
}

.menu-left {
  width: 100px;
  background-color: rgba(2, 2, 32, 1);
}

.row.tab {
  margin-left: 109px;
}

.row.selecor {
  margin-left: 118px;
}

p.labelselecor1 {
  font-size: 10px;
  margin-top: 4px;
  font-weight: bold;
}

select#selecorone {
  margin-left: -100px;
  width: 113px;
  height: 28px;
  text-align: center;
  font-size: 10px;
  border: 1px solid #ff7506;
  /* color: #ff7506; */
}

p.labelselecor2 {
  font-size: 10px;
  margin-top: 4px;
  font-weight: bold;
  margin-left: -23px;
}

select#selecortwo {
  width: 113px;
  height: 28px;
  text-align: center;
  font-size: 10px;
  border: 1px solid #ff7506;
  /* color: #ff7506; */
  margin-left: -82px;
}

.col-9.frame {
  margin-left: 124px;

  margin-top: -360px;
  background-color: rgba(47, 47, 65, 0.7);
  border-radius: 14px;
  height: 490px;
  width: 944px;
}

.col-2.contract {
  background-color: #2f2f41;
  width: 68px;
  height: 78px;
  margin-left: 80px;
  margin-top: -410px;
  border-radius: 10px;
}

svg.svg-inline--fa.fa-magnifying-glass {
  margin-left: 152px;
}

.Logo {
  background-color: #141424;
}

a {
  color: rgb(255 117 6);
  text-decoration: underline;
  text-align: center;
}

.row.firtframe {
  color: #da9c69;
  font-size: 9px;
  font-weight: bold;
}

.row.contentframe {
  color: #c8c8db;
  font-size: 9px;
  border-bottom: 1px solid #c8c8db45;
}

.detail {
  color: #ff7506;
  font-size: 9px;
}

.footframe {
  margin-top: 69px;
  font-size: 9px;
}

input.form-control.footer {
  width: 37px;
  height: 28px;
  border: 1px solid #ff7506;
  margin-left: -36px;
}

.col-1.foot {
  margin-top: 5px;
}

.col-8.foot {
  margin-top: 6px;
  margin-left: -69px;
}

.col-2.foot {
  margin-left: 60px;
}

.col-1.cate1 {
  background-color: rgba(47, 47, 65, 0.7);
  height: 16px;
  border: 1px solid;
  margin-left: 6px;
}

.col-1.cate2 {
  background-color: rgba(47, 47, 65, 0.7);
  height: 16px;
  border: 1px solid;
  margin-left: 6px;
}
.col-1.cate3 {
  background-color: rgba(47, 47, 65, 0.7);
  height: 16px;
  border: 1px solid;
  margin-left: 6px;
}
.col-1.cate4 {
  background-color: rgba(47, 47, 65, 0.7);
  height: 16px;
  border: 1px solid;
  margin-left: 6px;
}
.col-1.cate5 {
  background-color: rgba(47, 47, 65, 0.7);
  height: 16px;
  border: 1px solid;
  margin-left: 6px;
}
.col-1.cate6 {
  background-color: rgba(47, 47, 65, 0.7);
  height: 16px;
  border: 1px solid;
  width: 6px;
  margin-left: 6px;
}

p.dingg {
  margin-left: -5px;
}

p.song {
  margin-left: -3px;
}

p.firtdate {
  margin-left: 65px;
}

.col-1.date {
  margin-left: -168px;
}
