h5.card-title {
  font-size: 10px;
  margin-left: 0px;
  color: #c8c8db;
}

p.singer {
  margin-left: -26px;
  font-weight: normal;
}

p.card-text {
  font-size: 6px;
}

p.singer {
  margin-left: -49px;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: -4px;
  color: #c8c8db;
}

p.composer {
  margin-left: -40px;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: -4px;
  color: #c8c8db;
}

p.contest {
  margin-left: -28px;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: -4px;
  color: #c8c8db;
}

.card {
  background-color: rgb(57 57 85 / 70%);
  border-radius: 10px;
  height: 213px;
}
.card-body {
  margin-top: -16px;
}

p.card-text {
  color: #c8c8db;
}

p.ttpop {
  color: #c8c8db;
  font-size: 4px;
  margin-bottom: -3px;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: normal;
}

p.ttau {
  color: #c8c8db;
  font-size: 4px;
  margin-bottom: -3px;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: normal;
}

p.tttime {
  color: #c8c8db;
  font-size: 4px;
  margin-bottom: -3px;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: normal;
}

.tloai {
  border: 1px solid #c8c8db;
  height: 24px;
  /* margin-left: -16px; */
  width: 39px;
  height: 22px;
  border-radius: 3px;
}

.ddang {
  border: 1px solid #c8c8db;
  height: 24px;
  margin-left: -17px;
  width: 39px;
  height: 22px;
  border-radius: 3px;
}

.tluong {
  border: 1px solid #c8c8db;
  height: 24px;
  margin-left: -28px;
  width: 39px;
  height: 22px;
  border-radius: 3px;
}

p.pop {
  font-size: 8px;
  margin-left: 10px;
  color: #c8c8db;
}

p.au {
  font-size: 8px;
  margin-left: 10px;
  color: #c8c8db;
}

p.timee {
  font-size: 8px;
  margin-left: 10px;
  color: #c8c8db;
}

img.imagerecord {
  height: 118px;
  border-radius: 10px;
}

.row.twoframe {
  color: #da9c69;
  font-size: 9px;
  font-weight: bold;
  margin-top: 15px;
}

.imagerecord-large {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 80%;
  height: auto;
}

.fullscreen-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.fullscreen-image-wrapper {
  position: relative;
}

.fullscreen-image {
  height: 247px;
  width: 452px;
  display: block;
  margin: 0 auto;
  border: 11px solid #c8c8db;
  border-radius: 10px;
}

svg#pencor {
  width: -8px;
  height: 15px;
  margin-left: -7px;
  margin-top: 5px;
}
