.page_user {
  height: 130vh;

  background-color: #141424;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 21px;
  margin-bottom: 60px;
}

.form-select {
  height: 35px;
  width: 130px;
  background-color: #020220;
  color: #c8c8db;
  font-size: 13px;
  margin-left: auto;
  padding-top: 8px;
  background-color: #141424;
}

.collapse navbar-collapse {
  background-color: #020220;
}

.menubar {
  font-size: 10px;
  color: #c8c8db;
  width: 130px;
  height: 700px;
  background-color: #020220;
  border-radius: 0px, 24px, 24px, 0px;
}

a.nav-link {
  color: #c8c8db;
  margin-left: 10px;
  text-align: center;
}

svg.svg-inline--fa.fa-sliders {
  margin-left: 40px;
  font-size: 18px;
}

svg.svg-inline--fa.fa-list {
  margin-left: 40px;
  font-size: 18px;
  padding-top: 13px;
}

svg.svg-inline--fa.fa-calendar-days {
  margin-left: 40px;
  font-size: 18px;
  padding-top: 13px;
}

svg.svg-inline--fa.fa-file {
  margin-left: 40px;
  font-size: 18px;
  padding-top: 13px;
}

svg.svg-inline--fa.fa-dollar-sign {
  margin-left: 40px;
  font-size: 18px;
  padding-top: 13px;
}

svg.svg-inline--fa.fa-gear {
  margin-left: 40px;
  font-size: 18px;
  padding-top: 13px;
}

svg.svg-inline--fa.fa-circle-question {
  margin-left: 40px;
  font-size: 18px;
  padding-top: 13px;
}

h3 {
  margin-left: 163px;
  margin-top: -60px;
}

/* .right-align {
  text-align: right;
} */
.avar {
  border-radius: 50%;
  margin-left: -73px;

  width: 160px;
}
.avarname {
  margin-bottom: 182px;
}

.adname {
  font-size: 18px;
  margin-left: -37px;
}
